@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.ctn-our-menu {
    width: 100%;
    height: 730px;
    padding-top: 120px;
    padding-bottom: 120px;
    
    font-family: 'Zilla Slab', serif;
    background: #f5f5f5;
}